<tr>
  <td>
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="border-bottom: 1px solid #cccccc; padding: 13px 0"
    >
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <!-- Колонка с картинкой -->
              <td style="vertical-align: middle">
                <img
                  src="<%= data.logo %>"
                  width="36"
                  alt="N225"
                  border="0"
                  style="
                    display: block;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    object-fit: cover;
                  "
                />
              </td>
              <!-- Колонка правая с заголовком и метриком -->
              <td style="padding-left: 13px; vertical-align: middle">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <tr>
                    <td style="padding-right: 10px">
                      <span
                        style="
                          font-size: 16px;
                          font-weight: 400;
                          color: #000;
                          line-height: 17px;
                          margin: 0;
                        "
                        ><%= data.name %>
                      </span>
                    </td>
                    <td>
                      <!-- Number -->
                      <table
                        cellspacing="0"
                        cellpadding="0"
                        style="
                          border-collapse: separate;
                          border-spacing: 0;
                          table-layout: fixed;
                          width: 11px;
                          min-width: 11px;
                          max-width: 11px;
                          height: 12px;
                        "
                      >
                        <tr>
                          <td
                            style="
                              padding: 0;
                              vertical-align: bottom;
                              font-size: 0;
                              line-height: 0;
                            "
                          >
                            <div
                              style="
                                width: 2.5px;
                                height: 6px;
                                background-color: <%= data.num >= 1 ? '#227cd7' : '#7f7f7f' %>;
                                border-radius: 0.25px;
                              "
                            ></div>
                          </td>
                          <td
                            style="
                              width: 1.5px;
                              min-width: 1.5px;
                              font-size: 0;
                              line-height: 0;
                            "
                          >
                            &nbsp;
                          </td>
                          <td
                            style="
                              padding: 0;
                              vertical-align: bottom;
                              font-size: 0;
                              line-height: 0;
                            "
                          >
                            <div
                              style="
                                width: 2.5px;
                                height: 9px;
                                background-color: <%= data.num >= 2 ? '#227cd7' : '#7f7f7f' %>;
                                border-radius: 0.25px;
                              "
                            ></div>
                          </td>
                          <td
                            style="
                              width: 1.5px;
                              min-width: 1.5px;
                              font-size: 0;
                              line-height: 0;
                            "
                          >
                            &nbsp;
                          </td>
                          <td
                            style="
                              padding: 0;
                              vertical-align: bottom;
                              font-size: 0;
                              line-height: 0;
                            "
                          >
                            <div
                              style="
                                width: 2.5px;
                                height: 12px;
                                background-color: <%= data.num >= 3 ? '#227cd7' : '#7f7f7f' %>;
                                border-radius: 0.25px;
                              "
                            ></div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="macroTable">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            style="width: 100%; vertical-align: middle"
          >
            <tr>
              <td
                valign="middle"
                style="vertical-align: middle; width: 42px; padding: 0"
              >
                <!-- Внутренний div — это сама плашка -->
                <div
                  style="
                    background: rgba(0, 0, 0, 0.5);
                    width: 42px;
                    height: 19px;
                    color: rgba(255, 255, 255, 0.85);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 19px;
                    border-radius: 2px;
                    text-align: center;
                    white-space: nowrap;
                  "
                >
                  <%= data.time %>
                </div>
              </td>
              <td>
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  width="100%"
                >
                  <tr>
                    <td
                      style="
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.5);
                        padding-left: 15px;
                      "
                      align="left"
                    >
                      <div style="text-align: center">
                        Actual:
                        <span
                          style="font-size: 15px; font-weight: 500; color: #000"
                          ><%= data.actual %></span
                        >
                      </div>
                    </td>
                    <td style="width: 10.5px; font-size: 0">&nbsp;</td>
                    <td
                      style="
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.5);
                      "
                      align="center"
                    >
                      <div style="text-align: center">
                        Forecast:
                        <span
                          style="font-size: 15px; font-weight: 500; color: #000"
                          ><%= data.forecast %></span
                        >
                      </div>
                    </td>
                    <td style="width: 10.5px; font-size: 0">&nbsp;</td>
                    <td
                      align="right"
                      style="
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.5);
                      "
                    >
                      <div style="text-align: center">
                        <span>Previous:</span>
                        <span
                          style="font-size: 15px; font-weight: 500; color: #000"
                          ><%= data.previous %></span
                        >
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
