<tr>
  <td>
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="border-bottom: 1px solid #cccccc"
    >
      <tr>
        <!-- Левая колонка -->
        <td align="left">
          <table
            style="padding: 10px 0 10px 0"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tr>
              <!-- Колонка с картинкой -->
              <td style="vertical-align: middle">
                <img
                  src="<%= data.logo %>"
                  width="36"
                  alt="N225"
                  border="0"
                  style="
                    display: block;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    object-fit: cover;
                  "
                />
              </td>
              <!-- Колонка правая с заголовком и метриком -->
              <td style="padding-left: 13px; vertical-align: middle">
                <span
                  style="
                    display: block;
                    height: 20px;
                    line-height: 20px;
                    margin: 0 0 3px 0;
                    white-space: nowrap;
                    font-size: 17px;
                    font-weight: 400;
                    color: #000;
                  "
                  ><%= data.symbol %></span
                >
                <span
                  style="
                    font-size: 15px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.5);
                    line-height: normal;
                    margin: 0;
                  "
                  ><%= data.name.length > 15 ? data.name.substring(0, 15) +
                  '...' : data.name %></span
                >
              </td>
            </tr>
          </table>
        </td>
        <!-- Правая колонка -->
        <td align="right" velign="middle">
          <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td align="right" colspan="2" style="padding-bottom: 3px">
                <span
                  style="
                    font-family: 'Inter', Arial, sans-serif;
                    font-size: 17px;
                    font-weight: 400;
                    color: #000;
                  "
                >
                  <%= data.price %>
                </span>
              </td>
            </tr>
            <tr>
              <% const color = data.isPositive ? '#03C01C' : '#d70000'; %>
              <!-- gfd -->
              <% const bgColor = data.isPositive ? '#D9F7DE' : '#FDE0E0' %>
              <td align="left">
                <span
                  style="
                    display: table-cell;
                    height: 20px;
                    vertical-align: middle;
                    color: <%= color %>;
                    white-space: nowrap;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    padding-right: 11px;
                  "
                >
                  <%= data.change %>
                </span>
              </td>
              <td align="right">
                <span
                  style="
                    display: inline-table;
                    height: 20px;
                    vertical-align: middle;
                    border-radius: 3px;
                    background-color: <%= bgColor %>;
                    color: <%= color %>;
                    white-space: nowrap;
                    text-align: center;
                  "
                >
                  <span
                    style="
                      display: table-cell;
                      height: 20px;
                      padding: 0 6px;
                      font-size: 15px;
                      font-weight: 400;
                      line-height: 20px;
                    "
                    ><%= data.percent %></span
                  >
                </span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
